PCA_loadings_comp2.png
2025_timedata
.RData
.Rhistory
plot_zoom_png?width=812&height=799.png
dsub_prefilter.csv
trajectory_Czechia_pc12_locf.csv
trajectory_Germany_pc12_locf.csv
trajectory_Slovak_Republic_pc12_locf.csv
qualityoflife_wide_imf.csv
qualityoflife_wide_WB.csv
qualityoflofe_wide_iep.csv
trajectory
PCAModel
PCAoutput
world_sports_rankings_2014_2025.csv
.gitignore
qualityoflife_wide_manual.xlsx
qualityoflife_wide_world_sports_rankings.csv
PCAmodel_opt_simple
.Rhistory
.RData  